// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-hover-name: 'arrow-left-hover';
$arrow-left-hover-x: 115px;
$arrow-left-hover-y: 130px;
$arrow-left-hover-offset-x: -115px;
$arrow-left-hover-offset-y: -130px;
$arrow-left-hover-width: 9px;
$arrow-left-hover-height: 18px;
$arrow-left-hover-total-width: 162px;
$arrow-left-hover-total-height: 150px;
$arrow-left-hover-image: '../image/sprite.png';
$arrow-left-hover: (115px, 130px, -115px, -130px, 9px, 18px, 162px, 150px, '../image/sprite.png', 'arrow-left-hover', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 87px;
$arrow-left-y: 130px;
$arrow-left-offset-x: -87px;
$arrow-left-offset-y: -130px;
$arrow-left-width: 9px;
$arrow-left-height: 18px;
$arrow-left-total-width: 162px;
$arrow-left-total-height: 150px;
$arrow-left-image: '../image/sprite.png';
$arrow-left: (87px, 130px, -87px, -130px, 9px, 18px, 162px, 150px, '../image/sprite.png', 'arrow-left', );
$arrow-link-name: 'arrow-link';
$arrow-link-x: 65px;
$arrow-link-y: 109px;
$arrow-link-offset-x: -65px;
$arrow-link-offset-y: -109px;
$arrow-link-width: 8px;
$arrow-link-height: 14px;
$arrow-link-total-width: 162px;
$arrow-link-total-height: 150px;
$arrow-link-image: '../image/sprite.png';
$arrow-link: (65px, 109px, -65px, -109px, 8px, 14px, 162px, 150px, '../image/sprite.png', 'arrow-link', );
$arrow-right-hover-name: 'arrow-right-hover';
$arrow-right-hover-x: 101px;
$arrow-right-hover-y: 130px;
$arrow-right-hover-offset-x: -101px;
$arrow-right-hover-offset-y: -130px;
$arrow-right-hover-width: 9px;
$arrow-right-hover-height: 18px;
$arrow-right-hover-total-width: 162px;
$arrow-right-hover-total-height: 150px;
$arrow-right-hover-image: '../image/sprite.png';
$arrow-right-hover: (101px, 130px, -101px, -130px, 9px, 18px, 162px, 150px, '../image/sprite.png', 'arrow-right-hover', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 73px;
$arrow-right-y: 130px;
$arrow-right-offset-x: -73px;
$arrow-right-offset-y: -130px;
$arrow-right-width: 9px;
$arrow-right-height: 18px;
$arrow-right-total-width: 162px;
$arrow-right-total-height: 150px;
$arrow-right-image: '../image/sprite.png';
$arrow-right: (73px, 130px, -73px, -130px, 9px, 18px, 162px, 150px, '../image/sprite.png', 'arrow-right', );
$icon-barcode-scanner-name: 'icon-barcode-scanner';
$icon-barcode-scanner-x: 0px;
$icon-barcode-scanner-y: 65px;
$icon-barcode-scanner-offset-x: 0px;
$icon-barcode-scanner-offset-y: -65px;
$icon-barcode-scanner-width: 60px;
$icon-barcode-scanner-height: 60px;
$icon-barcode-scanner-total-width: 162px;
$icon-barcode-scanner-total-height: 150px;
$icon-barcode-scanner-image: '../image/sprite.png';
$icon-barcode-scanner: (0px, 65px, 0px, -65px, 60px, 60px, 162px, 150px, '../image/sprite.png', 'icon-barcode-scanner', );
$icon-basket-name: 'icon-basket';
$icon-basket-x: 65px;
$icon-basket-y: 65px;
$icon-basket-offset-x: -65px;
$icon-basket-offset-y: -65px;
$icon-basket-width: 53px;
$icon-basket-height: 39px;
$icon-basket-total-width: 162px;
$icon-basket-total-height: 150px;
$icon-basket-image: '../image/sprite.png';
$icon-basket: (65px, 65px, -65px, -65px, 53px, 39px, 162px, 150px, '../image/sprite.png', 'icon-basket', );
$icon-close-name: 'icon-close';
$icon-close-x: 50px;
$icon-close-y: 130px;
$icon-close-offset-x: -50px;
$icon-close-offset-y: -130px;
$icon-close-width: 18px;
$icon-close-height: 18px;
$icon-close-total-width: 162px;
$icon-close-total-height: 150px;
$icon-close-image: '../image/sprite.png';
$icon-close: (50px, 130px, -50px, -130px, 18px, 18px, 162px, 150px, '../image/sprite.png', 'icon-close', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 25px;
$icon-gear-y: 130px;
$icon-gear-offset-x: -25px;
$icon-gear-offset-y: -130px;
$icon-gear-width: 20px;
$icon-gear-height: 20px;
$icon-gear-total-width: 162px;
$icon-gear-total-height: 150px;
$icon-gear-image: '../image/sprite.png';
$icon-gear: (25px, 130px, -25px, -130px, 20px, 20px, 162px, 150px, '../image/sprite.png', 'icon-gear', );
$icon-like-name: 'icon-like';
$icon-like-x: 0px;
$icon-like-y: 0px;
$icon-like-offset-x: 0px;
$icon-like-offset-y: 0px;
$icon-like-width: 60px;
$icon-like-height: 60px;
$icon-like-total-width: 162px;
$icon-like-total-height: 150px;
$icon-like-image: '../image/sprite.png';
$icon-like: (0px, 0px, 0px, 0px, 60px, 60px, 162px, 150px, '../image/sprite.png', 'icon-like', );
$icon-operator-avatar-name: 'icon-operator-avatar';
$icon-operator-avatar-x: 65px;
$icon-operator-avatar-y: 0px;
$icon-operator-avatar-offset-x: -65px;
$icon-operator-avatar-offset-y: 0px;
$icon-operator-avatar-width: 60px;
$icon-operator-avatar-height: 60px;
$icon-operator-avatar-total-width: 162px;
$icon-operator-avatar-total-height: 150px;
$icon-operator-avatar-image: '../image/sprite.png';
$icon-operator-avatar: (65px, 0px, -65px, 0px, 60px, 60px, 162px, 150px, '../image/sprite.png', 'icon-operator-avatar', );
$icon-personal-room-name: 'icon-personalRoom';
$icon-personal-room-x: 93px;
$icon-personal-room-y: 109px;
$icon-personal-room-offset-x: -93px;
$icon-personal-room-offset-y: -109px;
$icon-personal-room-width: 8px;
$icon-personal-room-height: 10px;
$icon-personal-room-total-width: 162px;
$icon-personal-room-total-height: 150px;
$icon-personal-room-image: '../image/sprite.png';
$icon-personal-room: (93px, 109px, -93px, -109px, 8px, 10px, 162px, 150px, '../image/sprite.png', 'icon-personalRoom', );
$icon-search-big-name: 'icon-search-big';
$icon-search-big-x: 0px;
$icon-search-big-y: 130px;
$icon-search-big-offset-x: 0px;
$icon-search-big-offset-y: -130px;
$icon-search-big-width: 20px;
$icon-search-big-height: 20px;
$icon-search-big-total-width: 162px;
$icon-search-big-total-height: 150px;
$icon-search-big-image: '../image/sprite.png';
$icon-search-big: (0px, 130px, 0px, -130px, 20px, 20px, 162px, 150px, '../image/sprite.png', 'icon-search-big', );
$icon-search-name: 'icon-search';
$icon-search-x: 78px;
$icon-search-y: 109px;
$icon-search-offset-x: -78px;
$icon-search-offset-y: -109px;
$icon-search-width: 10px;
$icon-search-height: 10px;
$icon-search-total-width: 162px;
$icon-search-total-height: 150px;
$icon-search-image: '../image/sprite.png';
$icon-search: (78px, 109px, -78px, -109px, 10px, 10px, 162px, 150px, '../image/sprite.png', 'icon-search', );
$icon-view-grid-hover-name: 'icon-view-grid-hover';
$icon-view-grid-hover-x: 130px;
$icon-view-grid-hover-y: 96px;
$icon-view-grid-hover-offset-x: -130px;
$icon-view-grid-hover-offset-y: -96px;
$icon-view-grid-hover-width: 27px;
$icon-view-grid-hover-height: 27px;
$icon-view-grid-hover-total-width: 162px;
$icon-view-grid-hover-total-height: 150px;
$icon-view-grid-hover-image: '../image/sprite.png';
$icon-view-grid-hover: (130px, 96px, -130px, -96px, 27px, 27px, 162px, 150px, '../image/sprite.png', 'icon-view-grid-hover', );
$icon-view-grid-name: 'icon-view-grid';
$icon-view-grid-x: 130px;
$icon-view-grid-y: 64px;
$icon-view-grid-offset-x: -130px;
$icon-view-grid-offset-y: -64px;
$icon-view-grid-width: 27px;
$icon-view-grid-height: 27px;
$icon-view-grid-total-width: 162px;
$icon-view-grid-total-height: 150px;
$icon-view-grid-image: '../image/sprite.png';
$icon-view-grid: (130px, 64px, -130px, -64px, 27px, 27px, 162px, 150px, '../image/sprite.png', 'icon-view-grid', );
$icon-view-list-hover-name: 'icon-view-list-hover';
$icon-view-list-hover-x: 130px;
$icon-view-list-hover-y: 0px;
$icon-view-list-hover-offset-x: -130px;
$icon-view-list-hover-offset-y: 0px;
$icon-view-list-hover-width: 32px;
$icon-view-list-hover-height: 27px;
$icon-view-list-hover-total-width: 162px;
$icon-view-list-hover-total-height: 150px;
$icon-view-list-hover-image: '../image/sprite.png';
$icon-view-list-hover: (130px, 0px, -130px, 0px, 32px, 27px, 162px, 150px, '../image/sprite.png', 'icon-view-list-hover', );
$icon-view-list-name: 'icon-view-list';
$icon-view-list-x: 130px;
$icon-view-list-y: 32px;
$icon-view-list-offset-x: -130px;
$icon-view-list-offset-y: -32px;
$icon-view-list-width: 32px;
$icon-view-list-height: 27px;
$icon-view-list-total-width: 162px;
$icon-view-list-total-height: 150px;
$icon-view-list-image: '../image/sprite.png';
$icon-view-list: (130px, 32px, -130px, -32px, 32px, 27px, 162px, 150px, '../image/sprite.png', 'icon-view-list', );
$spritesheet-width: 162px;
$spritesheet-height: 150px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($arrow-left-hover, $arrow-left, $arrow-link, $arrow-right-hover, $arrow-right, $icon-barcode-scanner, $icon-basket, $icon-close, $icon-gear, $icon-like, $icon-operator-avatar, $icon-personal-room, $icon-search-big, $icon-search, $icon-view-grid-hover, $icon-view-grid, $icon-view-list-hover, $icon-view-list, );
$spritesheet: (162px, 150px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
