// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-hover-name: 'arrow-left-hover';
$arrow-left-hover-x: 119px;
$arrow-left-hover-y: 130px;
$arrow-left-hover-offset-x: -119px;
$arrow-left-hover-offset-y: -130px;
$arrow-left-hover-width: 9px;
$arrow-left-hover-height: 18px;
$arrow-left-hover-total-width: 185px;
$arrow-left-hover-total-height: 157px;
$arrow-left-hover-image: '../image/sprite.png';
$arrow-left-hover: (119px, 130px, -119px, -130px, 9px, 18px, 185px, 157px, '../image/sprite.png', 'arrow-left-hover', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 115px;
$arrow-left-y: 102px;
$arrow-left-offset-x: -115px;
$arrow-left-offset-y: -102px;
$arrow-left-width: 9px;
$arrow-left-height: 18px;
$arrow-left-total-width: 185px;
$arrow-left-total-height: 157px;
$arrow-left-image: '../image/sprite.png';
$arrow-left: (115px, 102px, -115px, -102px, 9px, 18px, 185px, 157px, '../image/sprite.png', 'arrow-left', );
$arrow-link-name: 'arrow-link';
$arrow-link-x: 173px;
$arrow-link-y: 34px;
$arrow-link-offset-x: -173px;
$arrow-link-offset-y: -34px;
$arrow-link-width: 8px;
$arrow-link-height: 14px;
$arrow-link-total-width: 185px;
$arrow-link-total-height: 157px;
$arrow-link-image: '../image/sprite.png';
$arrow-link: (173px, 34px, -173px, -34px, 8px, 14px, 185px, 157px, '../image/sprite.png', 'arrow-link', );
$arrow-right-hover-name: 'arrow-right-hover';
$arrow-right-hover-x: 147px;
$arrow-right-hover-y: 130px;
$arrow-right-hover-offset-x: -147px;
$arrow-right-hover-offset-y: -130px;
$arrow-right-hover-width: 9px;
$arrow-right-hover-height: 18px;
$arrow-right-hover-total-width: 185px;
$arrow-right-hover-total-height: 157px;
$arrow-right-hover-image: '../image/sprite.png';
$arrow-right-hover: (147px, 130px, -147px, -130px, 9px, 18px, 185px, 157px, '../image/sprite.png', 'arrow-right-hover', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 133px;
$arrow-right-y: 130px;
$arrow-right-offset-x: -133px;
$arrow-right-offset-y: -130px;
$arrow-right-width: 9px;
$arrow-right-height: 18px;
$arrow-right-total-width: 185px;
$arrow-right-total-height: 157px;
$arrow-right-image: '../image/sprite.png';
$arrow-right: (133px, 130px, -133px, -130px, 9px, 18px, 185px, 157px, '../image/sprite.png', 'arrow-right', );
$icon-1c-name: 'icon-1c';
$icon-1c-x: 65px;
$icon-1c-y: 65px;
$icon-1c-offset-x: -65px;
$icon-1c-offset-y: -65px;
$icon-1c-width: 56px;
$icon-1c-height: 32px;
$icon-1c-total-width: 185px;
$icon-1c-total-height: 157px;
$icon-1c-image: '../image/sprite.png';
$icon-1c: (65px, 65px, -65px, -65px, 56px, 32px, 185px, 157px, '../image/sprite.png', 'icon-1c', );
$icon-barcode-scanner-name: 'icon-barcode-scanner';
$icon-barcode-scanner-x: 65px;
$icon-barcode-scanner-y: 0px;
$icon-barcode-scanner-offset-x: -65px;
$icon-barcode-scanner-offset-y: 0px;
$icon-barcode-scanner-width: 60px;
$icon-barcode-scanner-height: 60px;
$icon-barcode-scanner-total-width: 185px;
$icon-barcode-scanner-total-height: 157px;
$icon-barcode-scanner-image: '../image/sprite.png';
$icon-barcode-scanner: (65px, 0px, -65px, 0px, 60px, 60px, 185px, 157px, '../image/sprite.png', 'icon-barcode-scanner', );
$icon-close-name: 'icon-close';
$icon-close-x: 96px;
$icon-close-y: 130px;
$icon-close-offset-x: -96px;
$icon-close-offset-y: -130px;
$icon-close-width: 18px;
$icon-close-height: 18px;
$icon-close-total-width: 185px;
$icon-close-total-height: 157px;
$icon-close-image: '../image/sprite.png';
$icon-close: (96px, 130px, -96px, -130px, 18px, 18px, 185px, 157px, '../image/sprite.png', 'icon-close', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 90px;
$icon-gear-y: 102px;
$icon-gear-offset-x: -90px;
$icon-gear-offset-y: -102px;
$icon-gear-width: 20px;
$icon-gear-height: 20px;
$icon-gear-total-width: 185px;
$icon-gear-total-height: 157px;
$icon-gear-image: '../image/sprite.png';
$icon-gear: (90px, 102px, -90px, -102px, 20px, 20px, 185px, 157px, '../image/sprite.png', 'icon-gear', );
$icon-gear2-name: 'icon-gear2';
$icon-gear2-x: 130px;
$icon-gear2-y: 93px;
$icon-gear2-offset-x: -130px;
$icon-gear2-offset-y: -93px;
$icon-gear2-width: 29px;
$icon-gear2-height: 29px;
$icon-gear2-total-width: 185px;
$icon-gear2-total-height: 157px;
$icon-gear2-image: '../image/sprite.png';
$icon-gear2: (130px, 93px, -130px, -93px, 29px, 29px, 185px, 157px, '../image/sprite.png', 'icon-gear2', );
$icon-like-name: 'icon-like';
$icon-like-x: 0px;
$icon-like-y: 65px;
$icon-like-offset-x: 0px;
$icon-like-offset-y: -65px;
$icon-like-width: 60px;
$icon-like-height: 60px;
$icon-like-total-width: 185px;
$icon-like-total-height: 157px;
$icon-like-image: '../image/sprite.png';
$icon-like: (0px, 65px, 0px, -65px, 60px, 60px, 185px, 157px, '../image/sprite.png', 'icon-like', );
$icon-operator-avatar-name: 'icon-operator-avatar';
$icon-operator-avatar-x: 0px;
$icon-operator-avatar-y: 0px;
$icon-operator-avatar-offset-x: 0px;
$icon-operator-avatar-offset-y: 0px;
$icon-operator-avatar-width: 60px;
$icon-operator-avatar-height: 60px;
$icon-operator-avatar-total-width: 185px;
$icon-operator-avatar-total-height: 157px;
$icon-operator-avatar-image: '../image/sprite.png';
$icon-operator-avatar: (0px, 0px, 0px, 0px, 60px, 60px, 185px, 157px, '../image/sprite.png', 'icon-operator-avatar', );
$icon-personal-room-name: 'icon-personalRoom';
$icon-personal-room-x: 173px;
$icon-personal-room-y: 68px;
$icon-personal-room-offset-x: -173px;
$icon-personal-room-offset-y: -68px;
$icon-personal-room-width: 8px;
$icon-personal-room-height: 10px;
$icon-personal-room-total-width: 185px;
$icon-personal-room-total-height: 157px;
$icon-personal-room-image: '../image/sprite.png';
$icon-personal-room: (173px, 68px, -173px, -68px, 8px, 10px, 185px, 157px, '../image/sprite.png', 'icon-personalRoom', );
$icon-search-big-name: 'icon-search-big';
$icon-search-big-x: 65px;
$icon-search-big-y: 102px;
$icon-search-big-offset-x: -65px;
$icon-search-big-offset-y: -102px;
$icon-search-big-width: 20px;
$icon-search-big-height: 20px;
$icon-search-big-total-width: 185px;
$icon-search-big-total-height: 157px;
$icon-search-big-image: '../image/sprite.png';
$icon-search-big: (65px, 102px, -65px, -102px, 20px, 20px, 185px, 157px, '../image/sprite.png', 'icon-search-big', );
$icon-search-name: 'icon-search';
$icon-search-x: 173px;
$icon-search-y: 53px;
$icon-search-offset-x: -173px;
$icon-search-offset-y: -53px;
$icon-search-width: 10px;
$icon-search-height: 10px;
$icon-search-total-width: 185px;
$icon-search-total-height: 157px;
$icon-search-image: '../image/sprite.png';
$icon-search: (173px, 53px, -173px, -53px, 10px, 10px, 185px, 157px, '../image/sprite.png', 'icon-search', );
$icon-shipped-name: 'icon-shipped';
$icon-shipped-x: 130px;
$icon-shipped-y: 0px;
$icon-shipped-offset-x: -130px;
$icon-shipped-offset-y: 0px;
$icon-shipped-width: 38px;
$icon-shipped-height: 24px;
$icon-shipped-total-width: 185px;
$icon-shipped-total-height: 157px;
$icon-shipped-image: '../image/sprite.png';
$icon-shipped: (130px, 0px, -130px, 0px, 38px, 24px, 185px, 157px, '../image/sprite.png', 'icon-shipped', );
$icon-star-empty-name: 'icon-star-empty';
$icon-star-empty-x: 173px;
$icon-star-empty-y: 0px;
$icon-star-empty-offset-x: -173px;
$icon-star-empty-offset-y: 0px;
$icon-star-empty-width: 12px;
$icon-star-empty-height: 12px;
$icon-star-empty-total-width: 185px;
$icon-star-empty-total-height: 157px;
$icon-star-empty-image: '../image/sprite.png';
$icon-star-empty: (173px, 0px, -173px, 0px, 12px, 12px, 185px, 157px, '../image/sprite.png', 'icon-star-empty', );
$icon-star-full-name: 'icon-star-full';
$icon-star-full-x: 173px;
$icon-star-full-y: 17px;
$icon-star-full-offset-x: -173px;
$icon-star-full-offset-y: -17px;
$icon-star-full-width: 12px;
$icon-star-full-height: 12px;
$icon-star-full-total-width: 185px;
$icon-star-full-total-height: 157px;
$icon-star-full-image: '../image/sprite.png';
$icon-star-full: (173px, 17px, -173px, -17px, 12px, 12px, 185px, 157px, '../image/sprite.png', 'icon-star-full', );
$icon-view-grid-hover-name: 'icon-view-grid-hover';
$icon-view-grid-hover-x: 64px;
$icon-view-grid-hover-y: 130px;
$icon-view-grid-hover-offset-x: -64px;
$icon-view-grid-hover-offset-y: -130px;
$icon-view-grid-hover-width: 27px;
$icon-view-grid-hover-height: 27px;
$icon-view-grid-hover-total-width: 185px;
$icon-view-grid-hover-total-height: 157px;
$icon-view-grid-hover-image: '../image/sprite.png';
$icon-view-grid-hover: (64px, 130px, -64px, -130px, 27px, 27px, 185px, 157px, '../image/sprite.png', 'icon-view-grid-hover', );
$icon-view-grid-name: 'icon-view-grid';
$icon-view-grid-x: 32px;
$icon-view-grid-y: 130px;
$icon-view-grid-offset-x: -32px;
$icon-view-grid-offset-y: -130px;
$icon-view-grid-width: 27px;
$icon-view-grid-height: 27px;
$icon-view-grid-total-width: 185px;
$icon-view-grid-total-height: 157px;
$icon-view-grid-image: '../image/sprite.png';
$icon-view-grid: (32px, 130px, -32px, -130px, 27px, 27px, 185px, 157px, '../image/sprite.png', 'icon-view-grid', );
$icon-view-list-hover-name: 'icon-view-list-hover';
$icon-view-list-hover-x: 130px;
$icon-view-list-hover-y: 61px;
$icon-view-list-hover-offset-x: -130px;
$icon-view-list-hover-offset-y: -61px;
$icon-view-list-hover-width: 32px;
$icon-view-list-hover-height: 27px;
$icon-view-list-hover-total-width: 185px;
$icon-view-list-hover-total-height: 157px;
$icon-view-list-hover-image: '../image/sprite.png';
$icon-view-list-hover: (130px, 61px, -130px, -61px, 32px, 27px, 185px, 157px, '../image/sprite.png', 'icon-view-list-hover', );
$icon-view-list-name: 'icon-view-list';
$icon-view-list-x: 130px;
$icon-view-list-y: 29px;
$icon-view-list-offset-x: -130px;
$icon-view-list-offset-y: -29px;
$icon-view-list-width: 32px;
$icon-view-list-height: 27px;
$icon-view-list-total-width: 185px;
$icon-view-list-total-height: 157px;
$icon-view-list-image: '../image/sprite.png';
$icon-view-list: (130px, 29px, -130px, -29px, 32px, 27px, 185px, 157px, '../image/sprite.png', 'icon-view-list', );
$icon-wallet-name: 'icon-wallet';
$icon-wallet-x: 0px;
$icon-wallet-y: 130px;
$icon-wallet-offset-x: 0px;
$icon-wallet-offset-y: -130px;
$icon-wallet-width: 27px;
$icon-wallet-height: 27px;
$icon-wallet-total-width: 185px;
$icon-wallet-total-height: 157px;
$icon-wallet-image: '../image/sprite.png';
$icon-wallet: (0px, 130px, 0px, -130px, 27px, 27px, 185px, 157px, '../image/sprite.png', 'icon-wallet', );
$spritesheet-width: 185px;
$spritesheet-height: 157px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($arrow-left-hover, $arrow-left, $arrow-link, $arrow-right-hover, $arrow-right, $icon-1c, $icon-barcode-scanner, $icon-close, $icon-gear, $icon-gear2, $icon-like, $icon-operator-avatar, $icon-personal-room, $icon-search-big, $icon-search, $icon-shipped, $icon-star-empty, $icon-star-full, $icon-view-grid-hover, $icon-view-grid, $icon-view-list-hover, $icon-view-list, $icon-wallet, );
$spritesheet: (185px, 157px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
