/*********************************************/
/*COLORS*/
/*********************************************/

$color_blue: #1162ab;
$color_blue2: #0d8dd2;
$color_blueDark: #014385;

$color_red: #de0914;
$color_pink: #f00;

$color_grey: #797979;
$color_grey2: #727272;
$color_grey3: #e5e5e5;
$color_grey4:  #ece8e7;
$color_breadcrambs: #a9a9a9;;


$color_lightGrey: #fcfcfc;


$color_headerFirst :#f5f3e9;
$color_headerSecond:#191919;
$color_dark: #191919;

$color_yellow: #ffd608;
$color_yellow2: #feff00;
$color_yellowDark: #f1b500;


$color_green: #6fbb41;


/*********************************************/
/*FONTS*/
/*********************************************/

$Calibri: "Calibri", sans-serif;
$Bookman: "BookmanCTTBoldItalic", sans-serif;
$FontAwesom: "FontAwesome";

/*********************************************/
  /*SIZES*/
/*********************************************/
