/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Calibri", "../fonts/Calibri/Calibri", 400, normal, woff2 woff ttf);
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, woff2 woff ttf);
@include font-face("BookmanCTTBoldItalic", "../fonts/BookmanCTTBoldItalic/BookmanCTTBoldItalic", 400, normal, woff2 woff ttf);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-width: 320px;
  position: relative;

  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  min-height: 100vh;

}

.wrapperBlock {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {

  display: -webkit-box;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: Calibri, sans-serif;
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    opacity: 1;
    transition: opacity .3s;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.block_white {
  background-color: #fff;
}

.text_error {
  margin: 5px 0;
  font-size: 16px;
  color: #f00;
}

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}

.icon-triangle {
  &:after {
    content: "►";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: .3s all;
    color: inherit;
    font-size: 10px;
  }
}

.active.icon-triangle {
  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: .3s all;
  }
}

.bl_mainSlider__full {
  width: 100%;
  clear: both;
}

.bl_mainSlider {
  position: relative;
  width: 100%;
}

.bl_mainSlider__item {
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
}

.bl_mainSlider__link {
  position: absolute;
  text-align: center;
  left: 19%;
  bottom: 23%;
  width: 8.8%;
  height: 47px;
  border: 3px solid $color_dark;
  box-sizing: border-box;
  color: $color_dark;
  font-size: 1em;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  transition: .2s all;
  z-index: 2;
  span {
    position: relative;
    padding-right: 26px;
  }

  &:hover,
  &:focus {
    color: $color_yellow;
    background-color: $color_dark;
    span {
      padding-right: 0;
    }
    .arrow-link {
      &:after {
        content: none;
      }
    }
  }
}

.arrow-link {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    @include sprite($arrow_link);
  }
}




// OWL

.owl-carousel {
  z-index: 2;
}

.owl-carousel .owl-nav {
  position: absolute;

  width: 100%;
  min-width:110px;
  height: 0;
  bottom: 0;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev,
  .owl-next{

    position: absolute;
    display: inline-block;
    left: 19%;
    bottom: 25px;

    width: 54px;
    height: 50px;
    background-color: #f00;

    font-weight: bold;
    line-height: 1;
    font-size: 38px;
    transition: all 0.2s;
    z-index:3;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      @include sprite($arrow-left);
    }
  }

  .owl-next{

    position: absolute;
    right: 0;
    top: -25px;
    &:before {
      @include sprite($arrow-right);
    }
  }
}















/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
