/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Calibri", "../fonts/Calibri/Calibri", 400, normal, woff2 woff ttf);
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, woff2 woff ttf);
@include font-face("BookmanCTTBoldItalic", "../fonts/BookmanCTTBoldItalic/BookmanCTTBoldItalic", 400, normal, woff2 woff ttf);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-width: 320px;
  position: relative;

  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  min-height: 100vh;

}

.wrapperBlock {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {

  display: -webkit-box;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: Calibri, sans-serif;
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    opacity: 1;
    transition: opacity .3s;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.block_white {
  background-color: #fff;
}

.text_error {
  margin: 5px 0;
  font-size: 16px;
  color: #f00;
}

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  //overflow: hidden;
}

.icon-triangle {
  &:after {
    content: "►";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: .3s all;
    color: inherit;
    font-size: 10px;
  }
}

.active.icon-triangle {
  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: .3s all;
  }
}

.bl_mainSlider__full {
  width: 100%;
  clear: both;
}

.bl_mainSlider {
  position: relative;
  width: 100%;
}

.bl_mainSlider__item {
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
}

.bl_mainSlider__link {
  position: absolute;
  text-align: center;
  left: 19%;
  bottom: 23%;
  width: 164px;
  height: 47px;
  border: 3px solid $color_dark;
  box-sizing: border-box;
  color: $color_dark;
  font-size: 1em;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  transition: .2s all;
  z-index: 2;
  span {
    position: relative;
    padding-right: 26px;
  }

  &:hover,
  &:focus {
    color: $color_yellow;
    background-color: $color_dark;
    span {
      padding-right: 0;
    }
    .arrow-link {
      &:after {
        content: none;
      }
    }
  }
}

.arrow-link {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    @include sprite($arrow_link);
  }
}

// OWL

.owl-carousel {
  z-index: 2;
}

/////////// OWL

.owl-carousel .owl-nav {
  position: absolute;

  width: 100%;
  height: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev,
  .owl-next {

    position: absolute;
    left: 0;
    top: -25px;

    width: 54px;
    height: 50px;
    background-color: $color_lightGrey;
    transition: all 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include sprite($arrow-left);
    }
    &:hover {
      transition: all 0.2s;
      background-color: $color_dark;
      &:before {
        @include sprite-position($arrow-left-hover);
      }
    }
  }
  .owl-next {
    left: auto;
    right: 0;
    &:before {
      @include sprite($arrow-right);
    }
    &:hover {
      transition: all 0.2s;
      background-color: $color_dark;
      &:before {
        @include sprite-position($arrow-right-hover);
      }
    }

  }
}

//corrected
.bl_sliderPartners.owl-carousel .owl-nav .owl-prev {
  left: -54px;
}

///////// corrected OwlSlider
.owl-carousel.bl_mainSlider .owl-nav {
  position: absolute;
  bottom: -25px;
  top: auto;
  transform: none;
  left: 19%;
  width: 110px;
  height: 50px;

  .owl-prev,
  .owl-next {
    float: left;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 50px;
    background-color: #fff;
    font-weight: bold;
    line-height: 1;
    font-size: 38px;
    transition: all 0.2s;
    z-index: 3;

    &:hover {
      transition: all 0.2s;
      background-color: $color_dark;
      &:before {
        @include sprite-position($arrow-left-hover);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      @include sprite($arrow-left);
    }
  }

  .owl-next {

    &:before {
      @include sprite($arrow-right);
    }
    &:hover {
      &:before {
        @include sprite-position($arrow-right-hover);
      }
    }
  }
}

.bl_mainSlider .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 29.8%;
  transform: translateX(-50%);
  z-index: 2;
  .owl-dot {
    display: inline-block;
    width: 38px;
    height: 2px;
    background-color: #fff;
    margin-left: 4px;
    box-sizing: border-box;
    &.active {
      background-color: $color_dark;
    }
  }

}

.bl_sliderHits.owl-carousel .owl-item img {
  max-width: 235px;
}

///////
.bl_ourWorks__inner {
  width: 100%;
  min-height: 254px;
  background-color: $color_lightGrey;
}

.bl_ourWorks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.bl_ourWorks__item {
  position: relative;
  width: 33.33%;
  &:nth-of-type(1) {
    background: url("../image/bg_elements/ourWorks_1.png") no-repeat;
    background-size: cover;
  }
  &:nth-of-type(2) {
    background: url("../image/bg_elements/ourWorks_2.png") no-repeat;
    background-size: cover;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 65px;
      background-color: $color_yellow;
      z-index: 3;
    }
    &:after {
      left: auto;
      right: -8px;
    }
  }
  &:nth-of-type(3) {
    background: url("../image/bg_elements/ourWorks_3.png") no-repeat;
    background-size: cover;
  }
}

.bl_ourWorks__icon {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 50px auto 0;
}

.icon-barcode-scanner {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-barcode-scanner);
  }
}

.icon-like {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-like);
  }
}

.icon-operator-avatar {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-operator-avatar);
  }
}

.bl_ourWorks__title {
  margin-top: 30px;
  color: $color_dark;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.bl_ourWorks__text {
  max-width: 240px;
  margin: 30px auto 0;
  color: #4a4a4a;
  font-size: 18px;
}

///////////////////

.bl_sliderPartners__inner {
  width: 100%;
  margin: 90px auto;
  text-align: center;
}

.bl_sliderPartners__text {
  color: $color_dark;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.bl_sliderPartners {

  margin-top: 57px;
  padding-left: 54px;

}

.bl_sliderPartners .owl-stage-outer {

}

.bl_sliderPartners__link {
  display: flex;
  flex-direction: column;
  min-height: 160px;
  justify-content: center;
}

.owl-carousel .bl_sliderPartners__link img {
  max-width: 140px;
}

///////

.bl_aboutShop__inner {

  clear: both;
  width: 100%;
  min-height: 600px;
  background: #f9f9f9 url("../image/bg_elements/bg_aboutShop.png") 100% 50% no-repeat;
}

.bl_aboutShop__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 52px auto;
}

.bl_aboutShop {
  padding: 65px 0;
  margin-left: 9%;
  box-sizing: border-box;
}

.bl_aboutShop__title {
  color: $color_dark;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

.bl_aboutShop__text {
  margin-top: 30px;
  color: $color_dark;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.decor-bracket {
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 100%;
  border-left: 10px solid $color_yellow;
  border-top: 10px solid $color_yellow;
  border-bottom: 10px solid $color_yellow;
}

.slider_name {
  text-align: center;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

////////// HITS

.bl_sliderHits__full {
  margin-top: 77px;
  width: 100%;
}

.bl_sliderHits {
  width: 100%;

  margin-top: 66px;
  margin-bottom: 66px;
}

.bl_slider__item {
  width: 100%;
  max-width: 310px;
  padding: 24px;
  display: inline-block;
  //border: 1px solid #000;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  }
}

.bl_slider__link {
  display: block;
  width: 100%;
  //height: 300px;
}

.bl_slider__img {
  display: block;
  margin: 0 auto;
}

.bl_slider__name {
  width: 100%;
  height: 50px;
  margin-top: 18px;
  color: $color_dark;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
}

.bl_shortReviews {
  margin-top: 14px;
  height: 20px;
  width: 100%;

  div {
    position: relative;
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 7px;
    box-sizing: border-box;
  }
}

.icon_star__full,
.icon_star__empty {
  &:after {
    content: "\2605";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color_yellow;
    font-size: 24px;
  }
}

.icon_star__empty {
  &:after {
    content: "\2606";
  }
}

.bl_shortAtributes {
  clear: both;
  width: 100%;
  height: 70px;
  overflow: hidden;
  margin-top: 14px;
  color: $color_grey2;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

}

.bl_slider__wrapperPrice {
  width: 100%;

}

.bl_slider__price {
  height: 40px;
  display: inline;

}

.bl_slider__normalPrice,
.bl_slider__newPrice {
  color: $color_dark;
  font-family: $Calibri;
  font-size: 27px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  vertical-align: bottom;
}

.bl_slider__oldPrice {
  vertical-align: bottom;
  color: $color_grey2;
  text-decoration: line-through;
}

.bl_slider__newPrice {

  font-size: 26px;
  margin-top: 2px;
}

///////////// Breadcrumbs

.bl_breadcrumbs {
  margin-top: 20px; //////////////////// 14px
  margin-bottom: 20px;
  width: 100%;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: 2%;
    color: $color_breadcrambs;
    &:not(:last-child):after {
      content: ">";
      position: absolute;
      top: 0;
      right: 4px;
      color: inherit;
      z-index: 3;
    }
  }
  &__link {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color_dark;
    }
    &:focus {
      text-decoration: underline;
    }
  }
  &__active {
    display: inline-block;
    text-decoration: none;
    color: $color_dark;
  }

}

//////////////

// Catalog

.catalog_name {
  position: relative;
  width: 100%;
  color: #000;
  font-family: $Calibri;
  font-size: 20px;
  font-weight: 700;
  line-height: 92px;
  text-transform: uppercase;
  background-color: $color_yellow;
  &:before {
    content: "";
    position: absolute;
    left: -200%;
    height: 100%;
    width: 200%;
    background-color: $color_yellow;

  }
}

.bl_catalog {
  margin-top: 20px;
  width: 100%;
}

.bl_catalog__button {

  padding: 20px 0;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  outline: none;
  background: none;
  cursor: default;
}

.bl_catalog__full {
  margin-top: 20px;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}

.bl_catalog__item {
  width: 102%;
  font-size: 0;
}

.bl_catalog__link {
  font-family: $Calibri;
  font-size: 18px;
  line-height: 32px;
  color: $color_dark;
  font-weight: 700;

  &:hover,
  &:focus {
    color: $color_yellow;
  }
}

.bl_catalog__item.active .bl_catalog__link {
  color: #515151;
  &:hover{
    color: $color_yellow;
  }
}

.bl_catalog__item.active > .bl_catalog__link {
  color: #f1b500;
}

.bl_catalog__item.active > .bl_catalog__subCatalog {
  padding-left: 15px;
}

.bl_catalog__btn {
  position: relative;
  top: 4px;
  display: inline-block;
  font-size: 0;
  width: 20px;
  height: 100%;
  min-height: 20px;
  color: inherit;
  outline:none;
  background: none;


  &:after {
    content: "▶";
    position: absolute;
    width: 20px;
    height: 100%;
    top: 65%;
    left: 50%;
    color: inherit;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all, .3s;
    font-size: 12px;
  }
}

.bl_catalog__btn.active{
  &:after{
    transition: all, .3s;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #f1b500;
  }
}


/////////
.bl_help{
  width: 100%;
  margin-top: 30px;
  color: #696969;
  font-family: $Calibri;
  font-size: 18px;
}
.bl_help p {
  color: #696969;
  font-size: 18px;
  line-height: 23px;
  &:nth-child(2){
    margin-top: 20px;
  }
}

.bl_help__tel{
  margin-top: 20px;
}

.bl_help__tel a{
  margin-top: 5px;
  display: block;
  color: #696969;
  font-size: 18px;
  line-height: 23px;
  &:hover,
  &:focus{
    text-decoration: underline;
  }
}



.bl_help__callBack{
  margin-top: 32px;
  margin-bottom: 32px;
  width: 162px;
  height: 50px;
  border: 2px solid $color_dark;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  background-color: #fff;
  &:hover,
  &:focus{
    background-color: $color_yellow;
    border-color: $color_yellow;
  }
}






/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
