/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Calibri", "../fonts/Calibri/Calibri", 400, normal, woff2 woff ttf);
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, woff2 woff ttf);
@include font-face("BookmanCTTBoldItalic", "../fonts/BookmanCTTBoldItalic/BookmanCTTBoldItalic", 400, normal, woff2 woff ttf);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-width: 320px;
  position: relative;

  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  min-height: 100vh;

}

.wrapperBlock {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {

  display: -webkit-box;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: Calibri, sans-serif;
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    opacity: 1;
    transition: opacity .3s;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.bl_white {
  background-color: #fff;
}

.bl_grey {
  position: relative;
  background-color: #fafafa;
  &:before {
    position: absolute;
    top: 0;
    right: -200%;
    height: 100%;
    width: -200%;
    background-color: #fafafa;
  }
}

.text_error {
  margin: 5px 0;
  font-size: 16px;
  color: #f00;
}

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  //overflow: hidden;
}

.icon-triangle {
  &:after {
    content: "►";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: .3s all;
    color: inherit;
    font-size: 10px;
  }
}

.active.icon-triangle {
  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: .3s all;
  }
}

.bl_mainSlider__full {
  width: 100%;
  clear: both;
}

.bl_mainSlider {
  position: relative;
  width: 100%;
}

.bl_mainSlider__item {
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
}

.bl_mainSlider__link {
  position: absolute;
  text-align: center;
  left: 19%;
  bottom: 23%;
  width: 164px;
  height: 47px;
  border: 3px solid $color_dark;
  box-sizing: border-box;

  font-size: 1em;
  font-weight: 700;
  line-height: 44px;

  text-transform: uppercase;
  transition: .6s all;

  overflow: hidden;
  z-index: 2;
  span {
    color: $color_dark;
    transition: .2s right,
    .2s color .2s;
    position: relative;
    right: 26px;
  }

  &:hover,
  &:focus {
    background-color: $color_dark;

    transition: .4s background-color .3s;
    span {
      color: $color_yellow;
      right: 0;
      transition: .2s right ease-in,
      .2s color .2s;

    }
    .arrow-link {
      &:after {
        transition: .4s all ease-in;
        right: -100%;
      }
    }
  }
}

.arrow-link {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -26px;
    @include sprite($arrow_link);
  }
}

// OWL

.owl-carousel {
  z-index: 2;
}

/////////// OWL

.owl-carousel .owl-nav {
  position: absolute;

  width: 100%;
  height: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev,
  .owl-next {

    position: absolute;
    left: 0;
    top: -25px;

    width: 54px;
    height: 50px;
    background-color: $color_lightGrey;
    transition: all 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include sprite($arrow-left);
    }
    &:hover {
      transition: all 0.2s;
      background-color: $color_dark;
      &:before {
        @include sprite-position($arrow-left-hover);
      }
    }
  }
  .owl-next {
    left: auto;
    right: 0;
    &:before {
      @include sprite($arrow-right);
    }
    &:hover {
      transition: all 0.2s;
      background-color: $color_dark;
      &:before {
        @include sprite-position($arrow-right-hover);
      }
    }

  }
}

//corrected
.bl_sliderPartners.owl-carousel .owl-nav .owl-prev {
  left: -54px;
}

///////// corrected OwlSlider
.owl-carousel.bl_mainSlider .owl-nav {
  position: absolute;
  bottom: -25px;
  top: auto;
  transform: none;
  left: 19%;
  width: 110px;
  height: 50px;

  .owl-prev,
  .owl-next {
    float: left;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 50px;
    background-color: #fff;
    font-weight: bold;
    line-height: 1;
    font-size: 38px;
    transition: all 0.2s;
    z-index: 3;

    &:hover {
      transition: all 0.2s;
      background-color: $color_dark;
      &:before {
        @include sprite-position($arrow-left-hover);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      @include sprite($arrow-left);
    }
  }

  .owl-next {

    &:before {
      @include sprite($arrow-right);
    }
    &:hover {
      &:before {
        @include sprite-position($arrow-right-hover);
      }
    }
  }
}

.bl_mainSlider .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 29.8%;
  transform: translateX(-50%);
  z-index: 2;
  .owl-dot {
    display: inline-block;
    width: 38px;
    height: 2px;
    background-color: #fff;
    margin-left: 4px;
    box-sizing: border-box;
    &.active {
      background-color: $color_dark;
    }
  }

}

.bl_sliderHits.owl-carousel .owl-item img {
  max-width: 235px;
}

.bl_mainProduct__slider.owl-carousel .owl-nav {

  top: 70%;

  .owl-prev,
  .owl-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

///////
.bl_ourWorks__inner {
  width: 100%;
  min-height: 254px;
  background-color: $color_lightGrey;
}

.bl_ourWorks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.bl_ourWorks__item {
  position: relative;
  width: 33.33%;
  &:nth-of-type(1) {
    background: url("../image/bg_elements/ourWorks_1.png") no-repeat;
    background-size: cover;
  }
  &:nth-of-type(2) {
    background: url("../image/bg_elements/ourWorks_2.png") no-repeat;
    background-size: cover;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 65px;
      background-color: $color_yellow;
      z-index: 3;
    }
    &:after {
      left: auto;
      right: -8px;
    }
  }
  &:nth-of-type(3) {
    background: url("../image/bg_elements/ourWorks_3.png") no-repeat;
    background-size: cover;
  }
}

.bl_ourWorks__icon {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 50px auto 0;
}

.icon-barcode-scanner {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-barcode-scanner);
  }
}

.icon-like {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-like);
  }
}

.icon-operator-avatar {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-operator-avatar);
  }
}

.bl_ourWorks__title {
  margin-top: 30px;
  color: $color_dark;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.bl_ourWorks__text {
  max-width: 240px;
  margin: 30px auto 0;
  color: #4a4a4a;
  font-size: 18px;
}

///////////////////

.bl_sliderPartners__inner {
  width: 100%;
  margin: 90px auto;
  text-align: center;
}

.bl_sliderPartners__text {
  color: $color_dark;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.bl_sliderPartners {

  margin-top: 57px;
  padding-left: 54px;

}

.bl_sliderPartners .owl-stage-outer {

}

.bl_sliderPartners__link {
  display: flex;
  flex-direction: column;
  min-height: 160px;
  justify-content: center;
}

.owl-carousel .bl_sliderPartners__link img {
  max-width: 140px;
}

///////

.bl_aboutShop__inner {

  clear: both;
  width: 100%;
  min-height: 600px;
  background: #f9f9f9 url("../image/bg_elements/bg_aboutShop.png") 100% 50% no-repeat;
}

.bl_aboutShop__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 52px auto;
}

.bl_aboutShop {
  padding: 65px 0;
  margin-left: 9%;
  box-sizing: border-box;
}

.bl_aboutShop__title {
  color: $color_dark;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

.bl_aboutShop__text {
  margin-top: 30px;
  color: $color_dark;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.decor-bracket {
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 100%;
  border-left: 10px solid $color_yellow;
  border-top: 10px solid $color_yellow;
  border-bottom: 10px solid $color_yellow;
}

.icon_star__full,
.icon_star__empty {
  &:after {
    content: "\2605";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color_yellow;
    font-size: 24px;
  }
}

.icon_star__empty {
  &:after {
    content: "\2606";
  }
}

.slider_name {

  color: $color_dark;
  font-family: $Calibri;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

////////// HITS

.bl_sliderHits__full {
  margin-top: 77px;
  width: 100%;
}

.bl_sliderHits__full .slider_name {
  text-align: center;
}

.bl_sliderHits {
  width: 100%;
  margin: 56px 0;
}

//////////
.bl_slider__item {
  width: 100%;
  //max-width: 310px;
  padding: 10px 24px;
  display: inline-block;
  margin: 10px 0;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  }
}

.bl_slider__link {
  display: block;
  width: 100%;
  outline: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px $color_yellow;
  }
}

.bl_slider__imgWrapper {
  width: 100%;
  margin: 0 auto;
  height: 190px;
}

.bl_slider__img {
  max-height: 230px;
  display: block;
  margin: 0 auto;
}

.bl_slider__name {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  color: $color_dark;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
}

.bl_shortReviews {
  margin-top: 14px;
  height: 20px;
  width: 100%;

  div {
    position: relative;
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 7px;
    box-sizing: border-box;
  }
}

.bl_shortAtributes {
  clear: both;
  width: 100%;
  height: 70px;
  overflow: hidden;
  margin-top: 14px;
  color: $color_grey2;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

}

.bl_slider__wrapperPrice {
  width: 100%;
  min-height: 40px;
}

.bl_slider__price {
  //height: 40px;
  display: inline;

}

.bl_slider__normalPrice,
.bl_slider__newPrice {
  color: $color_dark;
  font-family: $Calibri;
  font-size: 27px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  vertical-align: bottom;
}

.bl_slider__oldPrice {
  vertical-align: bottom;
  color: $color_grey2;
  text-decoration: line-through;
}

.bl_slider__newPrice {

  font-size: 26px;
  margin-top: 2px;
}

.btn_buy {
  display: inline-block;
  width: 85px;
  height: 34px;
  box-sizing: border-box;
  border: 2px solid $color_yellow;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s all;
  outline: none;

  &:hover,
  &:focus {
    transition: .3s all;
    background-color: $color_yellow;
  }
}

////  Corrected for CATEGORIES

.bl_products {
  width: 100%;
  margin-left: 8%;
  margin-bottom: 40px;
  clear: both;
}

// GRID
.view-grid .bl_slider__item {
  display: inline-block;
  width: 33%;
  max-width: 250px;
  height: 410px;
  vertical-align: top;
  box-sizing: border-box;
  padding: 10px;

  &:nth-of-type(3n - 1) {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.view-grid .bl_slider__img {
  max-height: 163px;
}

.view-grid .bl_shortAtributes li > strong {
  color: #727272;
  font-family: $Calibri;
  font-size: 14px;
  font-weight: 400;
}

.view-grid .bl_slider__wrapperPrice {
  margin-top: 15px;
}

.view-grid .bl_slider__price {
  display: inline-block;
}

.view-grid .btn_buy {
  float: right;
}

// LIST

.view-list .bl_slider__item {
  border-top: 1px solid #ececec;
  display: block;
  width: 100%;
  min-height: 236px;
}

.view-list .bl_slider__link {
  display: inline-block;
  width: 80%;
}

.view-list .bl_slider__imgWrapper {

  height: auto;
}

.view-list .bl_slider__img {
  display: block;
  float: left;
  max-width: 190px;
  height: 100%;
  margin-right: 10px;
}

.view-list .bl_slider__name {
  width: auto;
  color: #000;
  font-family: $Calibri;
  font-size: 16px;
  height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
}

.view-list .bl_shortReviews {
  margin-top: 0;
  width: auto;

}

.view-list .bl_shortAtributes {
  display: inline-block;
  width: auto;
  clear: none;
  line-height: 20px;
  max-width: 380px;
  height: 100%;
  li {
    display: block;
  }
}

.view-list .bl_slider__wrapperPrice {
  margin-top: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  width: 134px;
  height: 100%;
  min-height: 140px;

}

.view-list .bl_slider__price {
  display: block;

}

.view-list .btn_buy {
  display: block;
  margin: 0 auto;
}

///////// Ready Solution

.module_readySolution {
  width: 100%;
  margin-top: 33px;
}

.module_readySolution__callBack,
.module_readySolution__addAll {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 63px;
  box-sizing: border-box;
  color: $color_dark;
  font-size: 21px;
  font-weight: 700;
  border: 4px solid $color_yellow;
  background-color: #fff;
  transition: .3s all;

  span {
    position: relative;
    width: 90%;
    z-index: 2;
  }
}

.module_readySolution__callBack {
  &:hover,
  &:focus {
    transition: .3s all;
    color: $color_yellow;
  }
}

.module_readySolution__callBack:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 5%;
  height: calc(100% + 8px);
  width: 90%;

  background-color: inherit;
  z-index: 1;
}

.module_readySolution__addAll {
  float: right;
  width: 300px;
  border: none;
  background-color: $color_yellow;

  &:hover,
  &:focus {
    transition: .3s all;
    background-color: $color_dark;
    color: $color_yellow;
  }
}

$recomendationTime: .3s;
$recomendationTrandition: $recomendationTime all;

.services_recommend {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.modul_name {
  margin-bottom: 20px;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.recommended_services {
  position: relative;
  margin-right: 2%;
  text-align: center;
  display: inline-block;
  width: 250px;
  height: 158px;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: $recomendationTime all $recomendationTime;
    background-color: $color_yellow;
    z-index: 3;
  }

  &:hover {
    &:after {
      opacity: 1;
      transition: $recomendationTime all $recomendationTime;
    }
  }
}

.recommended_services__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.recommended_services__name {
  position: relative;
  top: -14px;
  display: block;
  margin: 0 auto;
  width: 120px;
  color: $color_dark;
  font-size: 18px;
  padding: 5px 0;
  font-weight: 700;
  transform: scale(1);
  transition: $recomendationTime all;

}

.recommended_services:hover .recommended_services__name {
  top: 0;
  transition: ($recomendationTime / 2) all $recomendationTime;
  transform: scale(1.2);

}

.decor_bracketLeft,
.decor_bracketRight {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: -45px;
    width: 15px;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid $color_yellow;
    border-right: none;
    z-index: 2;
  }
}

.decor_bracketRight {
  &:after {
    left: auto;
    right: -45px;
    border-left: none;
    border-right: 4px solid $color_yellow;
  }
}

.recommended_services__price {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $color_dark;
  font-size: 28px;
  font-weight: 700;
  background-color: $color_yellow;
  transition: $recomendationTrandition;
  z-index: 3;
}

.recommended_services:hover .recommended_services__price {
  bottom: -25%;
  transition: $recomendationTrandition;
}

///////////// Breadcrumbs

.bl_breadcrumbs {
  margin-top: 20px; //////////////////// 14px
  margin-bottom: 20px;
  width: 100%;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: 2%;
    color: $color_breadcrambs;
    &:not(:last-child):after {
      content: ">";
      position: absolute;
      top: 0;
      right: 4px;
      color: inherit;
      z-index: 3;
    }
  }
  &__link {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    outline-color: $color_yellow;

    &:hover {
      color: $color_dark;
    }
    &:focus {
      text-decoration: underline;
    }
  }
  &__active {
    display: inline-block;
    text-decoration: none;
    color: $color_dark;
  }

}

//////////////

// Catalog

.catalog_name {
  position: relative;
  margin: 0;
  width: 100%;
  color: #000;
  font-family: $Calibri;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0;
  text-transform: uppercase;
  background-color: $color_yellow;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -200%;
    height: 100%;
    width: 200%;
    background-color: $color_yellow;

  }
}

.bl_catalog {
  margin-top: 20px;
  width: 100%;
}

.bl_catalog__button, .bl_filters__button {
  position: relative;
  padding: 20px 20% 20px 0;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  outline: none;
  background: none;
  cursor: default;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: $color_yellow;
    transition: .3s all ease-in;
  }

  &:hover {
    &:before {
      left: 0;
      transition: .3s all ease-in;
    }
  }
}

.bl_catalog__full {
  margin-top: 20px;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}

.bl_catalog__item {
  position: relative;
  width: 102%;
  font-size: 0;
}

.bl_catalog__link {
  font-family: $Calibri;
  font-size: 18px;
  line-height: 32px;
  color: $color_dark;
  font-weight: 700;
  &:hover {
    color: $color_yellow;
  }
  &:focus {
    outline: none;
    color: $color_yellow !important;
    text-decoration: underline;
  }
}

.bl_catalog__item.active .bl_catalog__link {
  color: #515151;
  &:hover {
    color: $color_yellow;
  }
}

.bl_catalog__item.active > .bl_catalog__link {
  color: $color_yellowDark;
}

.bl_catalog__item.active > .bl_catalog__subCatalog {
  padding-left: 15px;
}

.bl_catalog__btn,
.bl_filters__btn {
  position: relative;
  box-sizing: border-box;
  margin-top: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  outline: none;
  color: inherit;
  background: transparent;
  &:focus {
    box-shadow: 0 0 2px 1px $color_yellowDark;
  }

  &:after {
    position: absolute;
    content: "►";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform .3s;

    font-size: 10px;
    color: inherit;

  }
  &.active {

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
      transition: transform .3s;
    }
  }

}

.bl_catalog__btn {
  top: 5px;
}

.bl_filters__btn {
  float: right;
}

/////////
.bl_help {
  width: 100%;
  margin-top: 30px;
  color: #696969;
  font-family: $Calibri;
  font-size: 18px;
}

.bl_help p {
  color: #696969;
  font-size: 18px;
  line-height: 23px;
  &:nth-child(2) {
    margin-top: 20px;
  }
}

.bl_help__tel {
  margin-top: 20px;
}

.bl_help__tel a {
  margin-top: 5px;
  display: block;
  color: #696969;
  font-size: 18px;
  line-height: 23px;
  outline: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  &:focus {
    color: $color_yellow;
  }
}

.bl_help__callBack {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 162px;
  height: 50px;
  border: 2px solid $color_dark;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  background-color: #fff;
  outline: none;
  &:hover,
  &:focus {
    background-color: $color_yellow;
    border-color: $color_yellow;
  }
}

//////////////////////////

.box_categories__full {
  position: relative;
  margin-left: 8%;
  width: 100%;
}

$transition-box: 0.4s all ease-in;

.box_categories {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 158px;
  margin-bottom: 2%;
  background-color: $color_lightGrey;
  transition: $transition-box;

  &:nth-of-type(3n - 1) {
    margin-left: 2%;
    margin-right: 2%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color_yellow;
    transition: $transition-box;
    opacity: 0;
    z-index: 1;
  }
  &:hover {
    &:after {
      transition: $transition-box;
      opacity: 0.9;
    }
  }

}

.box_categories__about {
  position: relative;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 171px;
  height: 100%;
  z-index: 5;
}

.box_categories:hover .box_categories__about {
  max-width: initial;
  text-align: center;
  width: calc(100% - 30px);
  transform: scale(1.2);
  transition: .3s transform .25s;
}

.box_categories__name {
  color: $color_dark;
  font-size: 18px;
  font-weight: 700;
}

.box_categories__availability {
  color: #9d9d9d;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

.box_categories:hover .box_categories__availability {
  opacity: 0;
}

.box_categories__img {

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

.decor-bracket-left,
.decor-bracket-right {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 30px;
  height: calc(100% - 30px);
  box-sizing: border-box;
  border: 3px solid $color_dark;
  border-right: none;
  z-index: 2;
  transition: $transition-box;
  opacity: 0;
}

.decor-bracket-right {
  left: auto;
  right: 15px;
  border: 3px solid $color_dark;
  border-left: none;
}

.box_categories:hover .decor-bracket-left,
.box_categories:hover .decor-bracket-right {
  transition: $transition-box;
  opacity: 1;
}

/////

.bl_ceo {
  position: relative;
  margin: 40px 0;
  clear: both;
  width: 100%;
  color: #696969;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  P {
    font-family: $Calibri;
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.bl_ceo.correctedML {
  margin-left: 8%;
}

//////////////// Filters

.bl_filters__item {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.bl_filters__name {
  display: inline-block;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: $color_yellow;
  }
}

.bl_filters__section {

}

.bl_filters__lable {
  position: relative;
  display: block;

  min-height: 36px;
  width: 100%;
}

.bl_filters__input {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.filter_text,
.bl_delivery__text,
.bl_payment__text {
  margin-left: 25px;
  color: #505050;
  font-family: $Calibri;
  font-size: 18px;
  position: relative;
  display: block;
  width: 100%;

  &:hover {
    color: $color_yellow;
  }
  &:focus {
    outline: none;
    color: $color_yellow;
    text-decoration: underline;
  }

  &:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 8px;
    width: 11px;
    height: 11px;
    box-sizing: border-box;
    border: 1px solid #505050;
  }
  span {
    font-weight: bold;
  }
}

.bl_filters__input:checked + .filter_text,
.bl_delivery__label input:checked + .bl_delivery__text,
.bl_payment__label input:checked + .bl_payment__text {
  font-weight: bold;
  color: $color_yellow;

  &:after {
    content: "";
    position: absolute;
    left: -22px;
    top: 10px;
    width: 5px;
    height: 5px;
    background-color: #ffc808;
    box-sizing: border-box;
    z-index: 2;
  }
}

//////////////////// Catalog

.bl_catalog {
  width: 100%;
}

.bl_controls {
  width: 100%;
  select {
    outline: none;
    &:focus {
      border: 1px solid $color_grey;
      box-shadow: 0 0 2px 1px $color_yellow;
    }
    option {
      color: #000;
      &:hover {
        background-color: $color_yellow;
      }
    }
  }

}

.bl_view {
  position: relative;
  float: right;
  width: 130px;
  height: 36px;
  overflow: hidden;
  input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}

.name_controls {
  vertical-align: top;
  margin-right: 10px;
  color: #3f4245;
  font-size: 18px;
  line-height: 36px;
}

.bl_view__label {
  position: relative;
  width: 36px;
  height: 36px;
  font-size: 0;
  display: inline-block;
  cursor: pointer;
  &:nth-of-type(1) {
    margin-right: 4px;
  }
}

.icon-grid {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-view-grid);
  }
}

.icon-list {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-view-list);
  }
}

#grid-view:checked ~ .icon-grid {
  &:after {
    background-position: $icon-view-grid-hover-offset-x $icon-view-grid-hover-offset-y;
  }
}

#list-view:checked ~ .icon-list {
  &:after {
    background-position: $icon-view-list-hover-offset-x $icon-view-list-hover-offset-y;
  }
}

/////////

.bl_sorted {
  float: right;
  min-height: 36px;
  margin-right: 5%;
}

.bl_sorted__select {
  width: 190px;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;

  opacity: 0.9;
  color: $color_dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

//////////////

/////////// Pagination

.bl_pagination {
  position: relative;
  height: 25px;
  margin-bottom: 20px;
}

.bl_products + .bl_pagination {
  margin-left: 68px;
}

.bl_pagination__fullItems {
  width: 100%;
}

.bl_pagination__item {
  float: left;
  text-align: center;
  outline: none;
}

.bl_pagination__link {
  position: relative;
  line-height: 25px;
  display: block;
  margin: 0 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #505050;
  font-size: 18px;
  font-weight: 400;

  &:hover,
  &:focus {
    outline: none;
    color: $color_yellow;
  }
  &:focus {
    box-shadow: 0 0 2px 1px $color_yellow;
  }
}

.bl_pagination__link_active {
  background-color: $color_dark;
  color: $color_yellow;
  &:hover,
  &:focus {
    color: $color_yellow;
  }
}

.bl_pagination__prevPage {
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(-1, 1);
    @include sprite($arrow-link);
  }
}

.bl_pagination__nextPage {
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include sprite($arrow-link);
  }
}

///////////////// Product CART

.bl_mainProduct {
  clear: both;
  width: 100%;
  margin-top: 40px;

}

.bl_mainProduct__box {
  position: relative;
  width: 100%;
  min-height: 100px;
}

.bl_mainProduct__mainPhoto {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.bl_mainProduct__slider {
  width: 100%;
}

.bl_mainProduct__item {
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.product_main__name {
  width: 100%;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 40px;
}

.product_main__controls {
  display: inline-block;

}

.bl_mainProduct__raiting {
  display: inline-block;
  float: right;
}

.product_main__all {
  width: 100%;

}

.product_main__item {
  display: block;
  font-size: 18px;
  strong {
    display: inline-block;
    font-weight: 700;
  }
}

.product_main__model {
  color: #949494;
}

.product_main__availability.yes {
  color: $color_green;
}

.product_main__availability.no {
  color: $color_red;
}

.product_main__select {
  font-weight: 400;
  outline-color: $color_yellow;
}

.bl_mainProduct__secondPart {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bl_mainProduct__price {
  clear: both;

  strong {
    color: $color_dark;
    font-family: $Calibri;
    font-size: 18px;
    font-weight: 700;
  }

  .bl_slider__price {
    margin-left: 6px;
    display: inline-block;
    text-align: right;
  }

}

.bl_buttons {
  display: block;
  min-width: 200px;
}

.btn_callBack__simple {
  display: inline-block;
  margin-right: 22px;
  height: 50px;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 700;
  background: none;
  outline: none;
  text-transform: uppercase;
  transition: .3s all;
  &:hover,
  &:focus {
    text-decoration: underline;
    transition: .3s all;
  }
}

.btn_buy__shoppingCart {
  position: relative;
  display: inline-block;
  padding-left: 74px;
  padding-right: 44px;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  max-width: 180px;
  height: 50px;
  transition: .3s all;
  background-color: $color_yellow;
  &:hover,
  &:focus {
    transition: .3s all;
    background-color: $color_dark;
    color: $color_yellow;
    #icon-buy {
      transition: .3s all;
      fill: $color_yellow;
    }

  }
}

#icon-buy {
  position: absolute;
  top: 36%;
  left: 28%;
  width: 17px;
  height: 15px;
}

////////////

.bl_advantages {
  margin-top: 80px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bl_advantages__item {
  min-height: 40px;

}

.bl_advantages__icon {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 38px;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-1c {
  &:after {
    @include sprite($icon-1c);
  }
}

.icon-car {
  &:after {
    @include sprite($icon-shipped);
  }
}

.icon-gear2 {
  &:after {
    @include sprite($icon-gear2);
  }
}

.icon-wallet {
  &:after {
    @include sprite($icon-wallet);
  }
}

.bl_advantages__text {
  display: inline-block;
  margin-left: 16px;
  vertical-align: top;
  max-width: 174px;
  color: #8f8f8f;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

////////////// Advantages

.inf_product {
  width: 100%;
}

.inf_product__item {
  margin-right: 5%;

  a {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #a0a0a0;
  }

  .active a {
    color: $color_dark;
  }
}

.tab-content {
  width: 100%;
  margin-bottom: 30px;
}

.nav-tabs > li.active > a, .nav-tabs > li > a, .nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.inf_product__tabs {
  width: 100%;
  margin-bottom: 60px;
  border: none;
}

.bl_attributes {
  width: 100%;
  display: block;
}

.bl_attributes__item {
  width: 100%;
  margin-top: 20px;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 400;
  color: $color_dark;

  &:nth-of-type(odd) {
    background-color: #fbfbfb;
  }
}

#tab-description {
  color: #696969;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

////////

.review_slider {
  width: 100%;
}

.review_item {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 24%;
  max-width: 24%;
  height: 162px;
  overflow-y: auto;

}

.review_item__userName {
  color: $color_dark;
  font-family: $Calibri;
  font-size: 20px;
  font-weight: 700;
}

.review_item .bl_shortReviews {
  width: 100%;
}

.review_item__fullText {
  color: #696969;
  font-family: "Calibri - Light Italic", "Calibri", sans-serif;
  font-size: 18px;
  font-style: italic;
}

////

.personal-form-review {
  input, textarea {
    &::placeholder {
      color: #939393;
      font-family: "Calibri - Light Italic", "Calibri", sans-serif;
      font-style: italic;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    &:focus {
      outline-color: $color_yellow;
    }
  }
}

.review_name,
.review_email {
  width: 290px;
  height: 30px;
  border: 1px solid #d1d1d1;
  margin-bottom: 10px;
}

.review_textarea {
  width: 100%;
  min-height: 70px;
  margin-left: 1%;
  border: 1px solid #d1d1d1;
  resize: none;
}

.review_text {
  vertical-align: top;
  color: #939393;
  font-family: $Calibri;
  font-size: 18px;
}

.bl_review__raiting .text_error {
  display: inline-block;
  vertical-align: top;
}

.bl_review__raitingFull input {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.bl_review__raitingFull label {
  float: right;
}

.bl_raiting__label {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 21px;
  cursor: pointer;

  &:before {
    position: absolute;
    content: "\2606";

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color_yellow;
    font-size: 24px;
  }

  &:first-child {
    margin-left: 13px;
  }
}

.bl_review__raiting {
  clear: both;
  display: inline-block;
}

.bl_review__raitingFull {
  display: inline-block;
  position: relative;
}

.personal-form-review .text_error {
  vertical-align: top;
  margin: 0 5px;
}

.bl_review__raitingFull input:checked + label:before,
.bl_review__raitingFull input:checked ~ label:before {
  position: absolute;
  content: "\2605";

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color_yellow;
  font-size: 24px;
}

.bl_review__raitingFull label:hover ~ label:before,
.bl_review__raitingFull label:hover:before {
  position: absolute;
  content: "\2605";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color_yellow;
  font-size: 24px;
}

.bl_reviewSmall {
  display: inline-block;
  position: relative;
  top: 0;
}

.bl_reviewSmall a {
  color: #68aedb;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

#button-review {
  float: right;
  width: 100px;
  height: 28px;
  background-color: $color_yellow;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s all;

  &:hover,
  &:focus {
    transition: .3s all;
    background-color: $color_dark;
    color: $color_yellow;
  }
}

////////// Slider Рекомендуемые товары
.bl_sliderRecommended__full {
  clear: both;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 45px;
}

.bl_sliderRecommended {
  margin-top: 60px;
  width: 100%;
}

//////// Slider вы просматривали

.bl_sliderYouReviewed__full {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 45px;
}

.bl_sliderYouReviewed {
  margin-top: 60px;

  width: 100%;
}

///////// BASKET

.block_quantity__box {
  width: 100%;
  position: relative;
  display: inline-block;
  height: 20px;
  box-sizing: border-box;
}

.block_quantity__minus,
.block_quantity__plus {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: none;
  box-sizing: border-box;
  border-radius: 50%;
  color: $color_dark;
  outline: none;
  font-size: 18px;
  line-height: 18px;
  &:hover {
    color: $color_yellow;
  }
  &:focus {
    box-shadow: 0 0 2px 1px $color_yellow;
  }

}

.block_quantity__input {
  display: inline-block;
  width: 22px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  border: none;
  outline-color: $color_yellow;

  &::placeholder {
    display: inline-block;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
  }
}

///

.table_title {
  margin: 10px 0;
  text-align: center;
  color: #c4c4c4;
  font-family: $Calibri;
  font-size: 14px;
  font-weight: 400;
}

.table_title__left {
  text-align: left;
}

.shoppingBasket_product__title {
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}

.shoppingBasket_product__good {
  width: 100%;
  margin-top: 17px;
}

.shoppingBasket_product__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  text-align: center;

  color: #505050;
  font-size: 18px;
  font-weight: 400;

}

.shoppingBasket_product__name {
  color: $color_dark;
  font-weight: 700;
}

.shoppingBasket_product__id {
  text-transform: uppercase;
}

.good-price__old {
  text-decoration: line-through;
}

.good-price__new {
  color: #505050;
  font-size: 18px;
  font-weight: 400;
}

.good-price__normal {
  color: $color_dark;
  font-size: 18px;
  font-weight: 700;
}

.delite_product {
  position: absolute;
  outline: none;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  transition: all, .2s;
  background-color: #f5f5f5;

  &:hover,
  &:focus {
    transition: all, .2s;
    color: #000;
    background-color: $color_yellow;
  }
}

.icon-close {
  &:after {
    content: "✕";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10px;
    color: #000;
    transform: translate(-50%, -50%);
  }
}

.bl_callback .icon-close {
  &:after {
    font-size: 18px;
    color: #000;
    font-weight: 900;
  }
}

/////////// Data User

.data_user__inner {

  width: 100%;
  background-color: #fbfbfb;
}

.data_user__title {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.data_user {
  position: relative;
  width: 100%;
  padding: 44px 0;
  color: $color_dark;
}

.data_user__recipient {
  width: 100%;
  input,
  textarea {
    width: 100%;
    max-width: 324px;
    height: 34px;
    margin-bottom: 18px;
    border: 1px solid #dfdfdf;
    //padding-top: 10px;
    line-height: 34px;
    padding-left: 20px;
    outline: none;

    &::placeholder {
      color: $color_dark;
      font-family: $Calibri;
      font-size: 16px;
      font-style: italic;
    }

    &:focus {
      border-color: $color_yellow;
    }

  }
  textarea {
    height: auto;
    min-height: 104px;
    resize: none;
  }
}

.bl_delivery__label,
.bl_payment__label{
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  input {
    position: absolute;
    visibility: hidden;
  }
}

.bl_delivery__text,
.bl_payment__text {
  color: $color_dark;
  font-family: $Calibri;
  font-size: 16px;
  font-weight: 400;
  padding-top: 1px;
}

.bl_delivery__box {
  position: relative;
  width: 100%;

}

select.form-control {

  width: 200px;
  &:focus {
    border-color: $color_yellow;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px $color_yellow;
  }
}

.bl_delivery__adress {
  padding: 0;
  width: 200px;
  height: 150px;
  resize: none;
  outline-color: $color_yellow;
  &:focus {
    border-color: $color_yellow;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px $color_yellow;
  }
}

.bl_price__full{
  clear: both;
  display: block;
  float: right;
  width: 200px;
  height: 56px;
  line-height: 56px;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border: 1px solid red;
  box-sizing: border-box;
}

.btn_registred{
  clear: both;
  float: right;
  margin-top: 33px;
  width: 198px;
  height: 55px;
  background-color: $color_yellow;
  color: $color_dark;
  font-family: $Calibri;
  font-size: 18px;
  font-weight: 700;
  &:hover,
  &:focus{
    transition: all, .2s;
    //background-color: $color_yellow;
  }
}



.btn_continueBuying{
  float: right;
  margin-bottom: 15px;
  color: $color_dark;
  font-size: 18px;
  width: 198px;
  height: 55px;
  line-height: 54px;
  text-align: center;
  background-color: #d6d6d6;
  outline: none;
  transition: all, .2s;
  &:hover,
  &:focus{
    transition: all, .2s;
    background-color: $color_yellow;
  }
}



/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
