@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {

  .bl_navGroup{
    margin-left: 0;
  }
  .bl_navGroup__link.active{
    border-top-color: transparent;
    border-bottom: 3px solid $color_yellow;
  }
  .btn_callBack{
    float: right;
  }
  .bl_shopBasket{
    width:initial;
    margin-right: 0;
    float: none;
  }
  .bl_phones{
    clear: both;
    margin-right: 0;
  }
}
/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 991px) {
  .nav_menu_mobile{
    position: absolute;
    top:35px;
    left: 0;
    max-width: 320px;
    background-color: #000;
    z-index: 10;
  }
  .nav_main{
    text-align: center;
  }
  .bl_mainControls{
    float: none;
    width: calc(100% - 35px);
  }
  .bl_personalRoom{
    margin:0 auto;
    border-bottom: 1px solid #cfcbbe;
  }
  .nav_main__item{
    display: block;
    margin: 0 auto 10px;
  }
  .nav_main__link{
    color: #fff;
  }
  .bl_search{
    float: none;
    position: fixed;
    top: 0;
    right: 0;
  }
  .bl_search .bl_wrappen{
    position: absolute;

  }

}
/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {

}
/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {

}
/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 320px) {

}
